<div class="div-img">
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" *ngFor="let peli of peliculas">

    <div class="carousel-inner">
      <ng-container *ngFor="let peli of peliculas; let i = index">
      
      <div class="carousel-item "  [ngClass]="{'active': prueba(peli)}" >
        <img class="w-100 img-size" src="assets/images/seven.jpg" alt="First slide">
        <div class="pos-titulo col-3 ">
          <h1 class="text-center">Patata</h1>
        </div>
        <div class="pos-button row">
          <button type="button" class="btn btn-outline-secondary col-6 " (click)=verSesiones(peli.nombre)>Salas</button>
          <button type="button" class="btn btn-outline-secondary col-6" (click)=info(peli)>+Info</button>
        </div>
      </div>


    </ng-container>

    
    <a class="carousel-control-prev" href="#carouselExampleControls"  role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>


  </div>
</div>

<!-- <div class="container mt-3">
  <div class="row d-flex justify-content-between">
    <div class="col-3" *ngFor="let peli of peliculas">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top img-size-card" src="assets/images/origen.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{peli.titulo}}</h5>
          <div class="row">
            <button class="btn btn-primary col-6" (click)=verSesiones(peli.nombre)>Salas</button>
            <button class="btn btn-success col-6" (click)=info(peli)>+Info</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->